html,body {
    background-image: url('/BackgroundPic.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    display: flex;
    align-items: center; 
    gap: 10px; 
}
